$ const pkg = input.pkg; 

<div class="card card-package">
    <div class="card-body">
        <h2>${pkg.name}</h2>
        <p>
        <span class="badge">${pkg.type}</span>
        </p>
        <p>
            <span>Version</span>
            <span>${pkg.version}</span>
        </p>
        <p>
            <span>Author</span>
            <span>${pkg.author}</span>
        </p>
    </div>
</div>
