@use "./variables";
@use "./resets";
@use "./root";

@use "./components/card";

body {
    font-weight: 400;
    line-height: 1.4;
    color: var(--clr-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    & > header {
        border-bottom: 1px solid var(--clr-gray-500);

        .container {
            min-height: 50px;
            justify-content: space-between;
            height: 100%;
        }
    }

    & > main {
        flex-grow: 1;
    }

    & > footer {
        background-color: var(--clr-gray-500);
    }
}

.container {
    max-width: var(--max-content-width);
    margin-inline: auto;
}

.flexed {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
